body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    background-color: blue; 
    padding: 10px; 
}


a {
    color: white;
    padding:  10px 10px 10px 10px;
}

#a {
    color: white;
    padding-right: 100px;
    font-size: 22px;
}

#footer {
    background: #5a5af3;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
main {
    flex: 1;
}
span {
    padding-right: 100px;
}