header {
    display: flex;
    justify-content: center;
    background-color: blue; 
    padding: 10px; 
}


a {
    color: white;
    padding:  10px 10px 10px 10px;
}

#a {
    color: white;
    padding-right: 100px;
    font-size: 22px;
}